/* general -------------*/
/*
font-family: 'Nixie One', cursive;
font-family: 'Libre Baskerville', serif;

#7E8D85 dark grey
#29BF89 green
#0083BB blue
#4a53c8 dark blue
#BDBDBE light grey
#FFFFFF white



*/
html {
	height: 100%;
}
body {
	background: linear-gradient(#29BF89, #0083BB);
	background-repeat: no-repeat;
    background-attachment: fixed;
	color: #edf9ff;
	font-family: 'Libre Baskerville', serif;
	height: 100%;
	min-height: 100%;
	margin: 0;
}
.maxed {
	max-width: 800px;
	margin: 5px auto;
}
H1 {
	font-family: 'Nixie One', cursive;
	color: #FFFFFF;
	font-size: 2.5em;
	font-weight: bold;
	margin-top: 4px;
	text-align: center;
	text-shadow: 0px 3px 3px rgba(0,0,0,0.2),
                 2px 5px 3px rgba(0,0,0,0.1),
                 -2px 5px 3px rgba(0,0,0,0.1);
}
H2 {
	color: #4a53c8;
	font-size: 2em;
	margin: 2px 0px 6px 0px;
	padding-top: 0;
	font-family: 'Nixie One', cursive;
	text-align: center;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.1),
                 1px 2px 1px rgba(0,0,0,0.05),
                 -1px 2px 1px rgba(0,0,0,0.05);
}
a {
	color: #29BF89;
	font-weight: bold;
}
a:hover {
	color: #0083BB;
	
}
.card {
	border-radius: 4px;
	background-color: #FFF;
	color: #7E8D85;
	padding: 8px 12px;
	margin: 0 0 12px 0;
	width: 100%;
	box-sizing: border-box;
}
form {
	text-align: center;
}
input[type=text] {
	width: 180px;
	text-align: center;
	font-size: 1.3em;
	padding: 6px 2px;
	border-radius: 6px;
	transform: translate(0,3px);
}
#app .btn {
	background-color: #29BF89;
	color: #FFF;
	font-size: 1.5em;
	font-weight: bold;
	margin:	4px;
	transition: background-color .5s;
	border: #000 solid 1px;
	cursor: pointer;
	border-radius: 4px;
	padding: 4px 8px;
}
#app .btn:hover {
	background-color: #0083BB;
}
#app .btn[disabled=disabled] {
	color: #7E8D85;
	background-color: #BDBDBE;
	border: #7E8D85 solid 1px;
	cursor: not-allowed;
}

.ng-hide-remove, .ng-hide {
	opacity: 0;
}

table {
	width: 100%;
	max-width:800px;
	margin: 0px auto;
}
tr:nth-child(odd) td {
	background: #CDCDCE;
	color: #000;
}
td {
	padding: 4px;
}
#app tr th{
	background-color: #0083BB;
	color: #FFF;
	font-weight: bold;
	padding: 4px;
	font-size: 1.5em;
}
#app .totalValue {
	font-weight: bold;
	font-size: 1.5em;
	background-color: #FFF;
	color: #7E8D85;
	text-align: center;
}
